.three-container {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.model-controls {
    position: absolute;
    bottom: 100px;
    right: 60px;
    list-style: none;
}

.model-controls > li {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 2px rgb(255 255 255 / 11%);
    background-color: #797a79;
}

.model-controls > li:hover {
    background-color: #b4b8b4;
}

.control-top {
    top: -40px;
    right: 20px;
    position: absolute;
}
.control-right {
    right: -25px;
    position: absolute;
}
.control-bottom {
    top: 40px;
    right: 20px;
    position: absolute;
}
.control-left {
    left: -60px;
    position: absolute;
}
